streamlit==1.39.0
python-dotenv==1.0.1
Pillow>=10.0.0
easyocr==1.7.1
groq>=0.9.0
huggingface_hub>=0.24.0
numpy>=1.24.0
opencv-python-headless>=4.8.0.76
torch>=2.2.0
torchvision>=0.17.0
torchaudio>=2.2.0
transformers>=4.44.0
sentencepiece>=0.1.99
sacremoses>=0.0.53
accelerate>=0.33.0